[submodule "router"]
	path = router
	url = https://github.com/tmcmanameyunl/router
[submodule "rbprovider"]
	path = rbprovider
	url = https://github.com/tmcmanameyunl/rbprovider
[submodule "RBbom"]
	path = RBbom
	url = https://github.com/tmcmanameyunl/RBbom
[submodule "deadMansRun"]
	path = deadMansRun
	url = https://github.com/tmcmanameyunl/deadMansRun
